{% load static %}

<div class="gauge-container">
    <div class="gauge-box">
        <canvas id="temperaure" class="gauge" style="width: auto; height: 80%;"></canvas>
        <p>Temperature</p>
        <div id="temp-text"></div>
    </div>
    <div class="gauge-box">
        <canvas id="humidity" class="gauge" style="width: auto; height: 80%;"></canvas>
        <p>Humidity</p>
        <div id="humid-text"></div>
    </div>
</div>

<script src="{% static 'sensor/js/third-party/gauge/gauge.min.js' %}"></script>
<script src="{% static 'sensor/js/sensors/dht11.js' %}"></script>