{% load static %}
{% load reusable_blocks %}

<link rel="stylesheet" href="{% static 'sensor/css/leds.css' %}">

<!-- Wiring -->
{% sub_header "tool.svg" "Wiring Schematic" "wiring" %}

<div class="d-flex justify-content-center align-items-center flex-column">
    <img class="img-wiring" src="{% static 'sensor/images/wiring/lcd.svg' %}" alt="LED Matrix Wiring">
</div>

<!-- Interface -->
{% sub_header "sliders.svg" "Control Panel" "control" %}

<div class="d-flex p-2 align-content-center justify-content-center" style="margin: 20px;">
    <div class="d-inline-flex p-2 flex-column log-container">
        <div class="input-group input-group-lg">
            <span class="input-group-text" id="lcd-data-message-input" placeholder="Hello, World!">User Input</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="card-container">
            <input class="d-flex align-self-start" id="lcd-data-message-submit" type="button" value="Send"
                style="width: 50%; margin: 20px 20px;">
            <input class="d-flex align-self-end" id="lcd-clear-textarea" type="button" value="Clear"
                style="width: 50%; margin: 20px 20px;">
        </div>
    </div>
</div>

<script src="{% static 'sensor/js/sensors/lcd.js' %}"></script>