{% load static %}
{% load reusable_blocks %}

<link rel="stylesheet" href="{% static 'sensor/css/leds.css' %}">

<!-- Wiring -->
{% sub_header "tool.svg" "Wiring Schematic" "wiring" %}

<div class="d-flex justify-content-center align-items-center flex-column">
    <img class="img-wiring" src="{% static 'sensor/images/wiring/lcd.svg' %}" alt="LCD Display Wiring">
</div>

<!-- Pinout -->
{% sub_header "table.svg" "Pinout Table" "pinout" %}

<div class="d-flex justify-content-center align-items-center flex-column">
    <img class="img-table" src="{% static 'sensor/images/wiring/pins/lcd.svg' %}" alt="LCD Display Pins">
</div>

<!-- Interface -->
{% sub_header "sliders.svg" "Control Panel" "control" %}

<!-- Alert -->
<div class="alert alert-secondary alert-dismissible fade show" role="alert">
    <h1>How To Use ?</h1>
    <ul>
        <li>
            <h5 class="card-title">Send Data</h5>
            <p class="card-text">
                Type the text you would like to send in the <strong>data input</strong> then click the <strong><u>send</u></strong> button.
            </p>
        </li><br>
        <li>
            <h5 class="card-title">Clear Input</h5>
            <p class="card-text">
                Click the <strong><u>clear</u></strong> button to clear the data input.
            </p>
        </li>
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="input-group input-group-lg form-input">
    <span class="input-group-text">
        <strong>Input</strong>
    </span>
    <input type="text" id="lcd-data-message-input" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-lg" placeholder="What's on your mind today ?">
</div>
<div class="btn-container" style="margin: 5%; padding-top: 0%;">
    <button type="button" class="btn btn-success btn-data" id="lcd-data-message-submit">Send</button>
    <button type="button" class="btn btn-dark btn-data" id="lcd-clear-textarea">Clear</button>
</div>

<script src="{% static 'sensor/js/sensors/lcd.js' %}"></script>