{% load static %}
{% load range_iterator %}
{% load reusable_blocks %}

<link rel="stylesheet" href="{% static 'sensor/css/leds.css' %}">

<!-- Wiring -->
{% sub_header "tool.svg" "Wiring Schematic" "wiring" %}

<div class="d-flex justify-content-center align-items-center flex-column">
    <img class="img-wiring" src="{% static 'sensor/images/wiring/ledarray.svg' %}" alt="LED Array Wiring">
</div>

<!-- Pinout -->
{% sub_header "table.svg" "Pinout Table" "pinout" %}

<div class="d-flex justify-content-center align-items-center flex-column">
    <img class="img-table" src="{% static 'sensor/images/wiring/pins/ledarray.svg' %}" alt="LED Array Pins">
</div>

<!-- Interface -->
{% sub_header "sliders.svg" "Control Panel" "control" %}

<!-- Alert -->
<div class="alert alert-secondary alert-dismissible fade show" role="alert">
    <h1 style="margin: 3% -2% 2% -2%;">How To Use ?</h1>
    <ul>
        <li>
            <h5 class="card-title">Send Data</h5>
            <p class="card-text">
                Click on a LED to switch its state between <strong>on</strong>, <strong>blinking</strong>
                and <strong>off</strong>
                then click the <u><strong>send</strong></u> button to display the pattern on the LED matrix.
            </p>
        </li><br>
        <li>
            <h5 class="card-title">Clear LEDs</h5>
            <p class="card-text">
                After clicking the <u><strong>clear</strong></u> button you can either click
                <u><strong>send</strong></u> to clear the LED matrix or redraw the shape you
                want before sending it.
            </p>
        </li>
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% iterate_over 2 as range_x %}
{% iterate_over 10 as range_y %}
<div class="text-center">
    <div class="gauge-box" style="flex-direction: row; margin: var(--gauge-box-margin-2);">
        {% for i in range_x %}
        <div class="led-container" style="margin: var(--led-container-margin);">
            <div>
                {% for j in range_y %}
                <div class="led-box">
                    <div {% if i == 0 %} class="led-blue-inactive" {% else %} class="led-red-inactive" {% endif %}
                        id="led-{{i}}-{{j}}" onclick="location.href='javascript:flipLED(\'led-{{i}}-{{j}}\')';"></div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="btn-container" style="margin-bottom: 5%; padding-top: 0%;">
        <button type="button" class="btn btn-success btn-data" id="send-data">Send</button>
        <button type="button" class="btn btn-dark btn-data" id="clear-data">Clear</button>
    </div>
</div>

<script src="{% static 'sensor/js/utils/ledutils.js' %}"></script>
<script src="{% static 'sensor/js/sensors/ledarray.js' %}"></script>