{% load static %}

<!-- Card Group -->
<div class="row row-cols-1 row-cols-md-auto g-4 grid-container">
    {% for item in extra_list %}
    <div class="col">
        <div class="card card-container text-center h-100" onclick="var current_path=location['pathname'];
            location.href=current_path+'{{item}}/';" style="cursor: pointer;">
            <div class="card-img-top">
                <img src="{% static 'sensor/images/sensors/' %}{{sensor_name}}/{{item}}.svg" class="img-{{item}}"
                    loading="lazy" alt="{{sensor_name}}-{{item}}">
            </div>
            <div class="card-body lead">
                <h5 class="card-title jumbotron">
                    {% if sensor_name == "dht11" %}
                        {% if item == "gauge" %}
                            Data Gauge
                        {% elif item == "lcd" %}
                            LCD Display
                        {% endif %}
                    {% elif sensor_name == "8x8matrix" %}
                        {% if item == "shape" %}
                            Draw Shape
                        {% elif item == "dpad" %}
                            Directional Pad
                        {% endif %}
                    {% elif sensor_name == "joystick" %}
                        {% if item == "leds" %}
                            Directional LEDs
                        {% elif item == "matrix" %}
                            8x8 LED Matrix
                        {% endif %}
                    {% elif sensor_name == "buzzer" %}
                        {% if item == "alarm" %}
                            Alarm
                        {% elif item == "midi" %}
                            Midi Keyboard
                        {% endif %}
                    {% elif sensor_name == "relay" %}
                        {% if item == "switch" %}
                            Switch
                        {% elif item == "alarm" %}
                            Alarm
                        {% endif %}
                    {% endif %}
                </h5>
                <p class="card-text">
                    {% if sensor_name == "dht11" %}
                        {% if item == "gauge" %}
                            Read data from DHT11 sensor and display them in a gauge.
                        {% elif item == "lcd" %}
                            Display DHT11 data on an LCD screen.
                        {% endif %}
                    {% elif sensor_name == "8x8matrix" %}
                        {% if item == "shape" %}
                            Draw and display a shape on the 8x8 LED matrix.
                        {% elif item == "dpad" %}
                            Use a directional pad to control a pixel on the screen.
                        {% endif %}
                    {% elif sensor_name == "joystick" %}
                        {% if item == "leds" %}
                            Use the joystick to control LED directions.
                        {% elif item == "matrix" %}
                            Use the joystick to control a pixel on an 8x8 LED Matrix.
                        {% endif %}
                    {% elif sensor_name == "buzzer" %}
                        {% if item == "alarm" %}
                            Periodically emit an alarm sound.
                        {% elif item == "midi" %}
                            Control a midi keyboard using buttons.
                        {% endif %}
                    {% elif sensor_name == "relay" %}
                        {% if item == "switch" %}
                            Control relay states using an SPDT switch.
                        {% elif item == "alarm" %}
                            Switch between relay states to make a periodic alarm using LEDs.
                        {% endif %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>