{% load static %}
{% load range_iterator %}
{% load reusable_blocks %}

<!-- Wiring -->
{% sub_header "tool.svg" "Wiring Schematic" "wiring" %}

<div class="d-flex justify-content-center align-items-center flex-column" style="padding: var(--img-wiring-padding)">
    <img class="img-cover" src="{% static 'sensor/images/wiring/dht11.svg' %}" alt="LED Matrix Wiring">
</div>

<!-- Interface -->
{% sub_header "tablet.svg" "Display Panel" "display" %}

<div class="gauge-container">
    <div class="gauge-box">
        <canvas id="temperaure" class="gauge" style="width: auto; height: 80%;"></canvas>
        <p>Temperature</p>
        <div id="temp-text"></div>
    </div>
    <div class="gauge-box">
        <canvas id="humidity" class="gauge" style="width: auto; height: 80%;"></canvas>
        <p>Humidity</p>
        <div id="humid-text"></div>
    </div>
</div>