{% load static %}
{% load range_iterator %}
{% load reusable_blocks %}

<!-- Wiring -->
{% sub_header "tool.svg" "Wiring Schematic" "wiring" %}

<div class="d-flex justify-content-center align-items-center flex-column">
    <img class="img-wiring" src="{% static 'sensor/images/wiring/dht11.svg' %}" alt="DHT11 Wiring">
</div>

<!-- Pinout -->
{% sub_header "table.svg" "Pinout Table" "pinout" %}

<div class="d-flex justify-content-center align-items-center flex-column">
    <img class="img-table" src="{% static 'sensor/images/wiring/pins/dht11.svg' %}" alt="DHT11 Pins">
</div>

<!-- Interface -->
{% sub_header "tablet.svg" "Display Panel" "display" %}

<div class="gauge-container">
    <div class="gauge-box">
        <canvas id="temperaure" class="gauge" width="auto" height="160px"></canvas>
        <p>Temperature</p>
        <div id="temp-text"></div>
    </div>
    <div class="gauge-box">
        <canvas id="humidity" class="gauge" width="auto" height="160px"></canvas>
        <p>Humidity</p>
        <div id="humid-text"></div>
    </div>
</div>