{% load static %}
{% load reusable_blocks %}

<!-- Wiring -->
{% sub_header "tool.svg" "Wiring Schematic" "wiring" %}

<div class="d-flex justify-content-center align-items-center flex-column">
    <img class="img-wiring" src="{% static 'sensor/images/wiring/dht11-lcd.svg' %}" alt="DHT11 Wiring">
</div>

<!-- Pinout -->
{% sub_header "table.svg" "Pinout Table" "pinout" %}

<div class="d-flex justify-content-center align-items-center flex-column">
    <img class="img-table" src="{% static 'sensor/images/wiring/pins/dht11.svg' %}" alt="DHT11 Pins">
    <img class="img-table" src="{% static 'sensor/images/wiring/pins/lcd.svg' %}" alt="LCD Display Pins">
</div>