{% load static %}
{% load reusable_blocks %}

<!-- Wiring -->
{% sub_header "tool.svg" "Wiring Schematic" "wiring" %}

<div class="d-flex justify-content-center align-items-center flex-column">
    <img class="img-wiring" src="{% static 'sensor/images/wiring/dht11-lcd.svg' %}" alt="DHT11 Wiring">
    <img class="img-table" src="{% static 'sensor/images/wiring/dht11_pins.svg' %}" alt="DHT11 Pins">
    <img class="img-table" src="{% static 'sensor/images/wiring/lcd_pins.svg' %}" alt="LCD Display Pins">
</div>