{% extends 'sensor/base.html' %}
{% load static %}

<!-- === Title === -->
{% block title %} Raspberry Pi Pinout {% endblock %}

<!-- === Body === -->
{% block content %}

<!-- Heading -->
<h1 class="display-3 d-flex justify-content-center mt-5">Raspberry Pi Pinout</h1>

<div class="text-center d-flex justify-content-center align-items-center flex-column"
    style="padding: var(--img-wiring-padding)">
    <img class="img-cover" src="{% static 'sensor/images/wiring/pinout.svg' %}" alt="Raspberry Pi Pinout">
</div>

{% endblock %}