/* -- img-icon -- */
.img-icon {
  margin: 1% 1%;
}
@media (min-width: 1200px) {
  .img-icon {
    width: 3.6%;
    height: 3.6%;
    margin: 0% 1% 0.5% 3%;
  }
}
@media (max-width: 1199.98px) {
  .img-icon {
    width: 3.6%;
    height: 3.6%;
    margin: 0% 1% 0.5% 3%;
  }
}
@media (max-width: 991.98px) {
  .img-icon {
    width: 4.5%;
    height: 4.5%;
    margin: 0% 2% 0.5% 3%;
  }
}
@media (max-width: 767.98px) {
  .img-icon {
    width: 5%;
    height: 5%;
    margin: 0% 3% 1% 3%;
  }
}
@media (max-width: 575.98px) {
  .img-icon {
    width: 5%;
    height: 5%;
    margin: 0% 3% 1% 4%;
  }
}

/* -- img-raspberry -- */
@media (min-width: 1200px) {
  .img-raspberry {
    width: 10vw;
    margin: 10% 0% 5% 0%;
  }
}
@media (max-width: 1199.98px) {
  .img-raspberry {
    width: 10vw;
    margin: 10% 0% 5% 0%;
  }
}
@media (max-width: 991.98px) {
  .img-raspberry {
    width: 18vw;
    margin: 15% 0% 5% 0%;
  }
}
@media (max-width: 767.98px) {
  .img-raspberry {
    width: 30vw;
    margin: 10% 0% 5% 0%;
  }
}
@media (max-width: 575.98px) {
  .img-raspberry {
    width: 25vw;
    margin: 12% 0% 5% 0%;
  }
}

/* -- img-raspberry-add -- */
@media (min-width: 1200px) {
  .img-raspberry-add {
    width: 20vw;
  }
}
@media (max-width: 1199.98px) {
  .img-raspberry-add {
    width: 22vw;
  }
}
@media (max-width: 991.98px) {
  .img-raspberry-add {
    width: 25vw;
  }
}
@media (max-width: 767.98px) {
  .img-raspberry-add {
    width: 30vw;
  }
}
@media (max-width: 575.98px) {
  .img-raspberry-add {
    width: 40vw;
  }
}

/* -- Sensors -- */
@media (min-width: 1200px) {
  .img-dht11 {
    width: 8vw;
    margin: 15% 0% 8% 0%;
  }
}
@media (max-width: 1199.98px) {
  .img-dht11 {
    width: 8vw;
    margin: 15% 0% 5% 0%;
  }
}
@media (max-width: 991.98px) {
  .img-dht11 {
    width: 12vw;
    margin: 15% 0% 5% 0%;
  }
}
@media (max-width: 767.98px) {
  .img-dht11 {
    width: 22vw;
    margin: 12% 0% 5% 0%;
  }
}
@media (max-width: 575.98px) {
  .img-dht11 {
    width: 20vw;
    margin: 12% 0% 5% 0%;
  }
}

@media (min-width: 1200px) {
  .img-ultrasonic,
.img-lcd,
.img-7segment,
.img-buzzer,
.img-alarm {
    width: 15vw;
    margin: 15% 0% 8% 0%;
  }
}
@media (max-width: 1199.98px) {
  .img-ultrasonic,
.img-lcd,
.img-7segment,
.img-buzzer,
.img-alarm {
    width: 15vw;
    margin: 15% 0% 5% 0%;
  }
}
@media (max-width: 991.98px) {
  .img-ultrasonic,
.img-lcd,
.img-7segment,
.img-buzzer,
.img-alarm {
    width: 22vw;
    margin: 15% 0% 5% 0%;
  }
}
@media (max-width: 767.98px) {
  .img-ultrasonic,
.img-lcd,
.img-7segment,
.img-buzzer,
.img-alarm {
    width: 35vw;
    margin: 15% 0% 5% 0%;
  }
}
@media (max-width: 575.98px) {
  .img-ultrasonic,
.img-lcd,
.img-7segment,
.img-buzzer,
.img-alarm {
    width: 30vw;
    margin: 12% 0% 5% 0%;
  }
}

@media (min-width: 1200px) {
  .img-8x8matrix,
.img-shape,
.img-joystick,
.img-gauge,
.img-dpad,
.img-matrix,
.img-leds {
    width: 12vw;
    margin: 15% 0% 8% 0%;
  }
}
@media (max-width: 1199.98px) {
  .img-8x8matrix,
.img-shape,
.img-joystick,
.img-gauge,
.img-dpad,
.img-matrix,
.img-leds {
    width: 12vw;
    margin: 15% 0% 5% 0%;
  }
}
@media (max-width: 991.98px) {
  .img-8x8matrix,
.img-shape,
.img-joystick,
.img-gauge,
.img-dpad,
.img-matrix,
.img-leds {
    width: 18vw;
    margin: 15% 0% 5% 0%;
  }
}
@media (max-width: 767.98px) {
  .img-8x8matrix,
.img-shape,
.img-joystick,
.img-gauge,
.img-dpad,
.img-matrix,
.img-leds {
    width: 30vw;
    margin: 12% 0% 5% 0%;
  }
}
@media (max-width: 575.98px) {
  .img-8x8matrix,
.img-shape,
.img-joystick,
.img-gauge,
.img-dpad,
.img-matrix,
.img-leds {
    width: 25vw;
    margin: 12% 0% 5% 0%;
  }
}

@media (min-width: 1200px) {
  .img-ledarray {
    width: 5vw;
    margin: 15% 0% 8% 0%;
  }
}
@media (max-width: 1199.98px) {
  .img-ledarray {
    width: 5vw;
    margin: 15% 0% 5% 0%;
  }
}
@media (max-width: 991.98px) {
  .img-ledarray {
    width: 8vw;
    margin: 15% 0% 5% 0%;
  }
}
@media (max-width: 767.98px) {
  .img-ledarray {
    width: 15vw;
    margin: 12% 0% 5% 0%;
  }
}
@media (max-width: 575.98px) {
  .img-ledarray {
    width: 15vw;
    margin: 12% 0% 5% 0%;
  }
}

@media (min-width: 1200px) {
  .img-midi {
    width: 14vw;
    margin: 15% 0%;
  }
}
@media (max-width: 1199.98px) {
  .img-midi {
    width: 16vw;
    margin: 15% 0%;
  }
}
@media (max-width: 991.98px) {
  .img-midi {
    width: 18vw;
    margin: 15% 0%;
  }
}
@media (max-width: 767.98px) {
  .img-midi {
    width: 35vw;
    margin: 12% 0% 10% 0%;
  }
}
@media (max-width: 575.98px) {
  .img-midi {
    width: 35vw;
    margin: 15% 0% 8% 0%;
  }
}

@media (min-width: 1200px) {
  .img-relay {
    width: 8vw;
    margin: 15% 0% 5% 0%;
  }
}
@media (max-width: 1199.98px) {
  .img-relay {
    width: 8vw;
    margin: 15% 0% 5% 0%;
  }
}
@media (max-width: 991.98px) {
  .img-relay {
    width: 12vw;
    margin: 15% 0% 5% 0%;
  }
}
@media (max-width: 767.98px) {
  .img-relay {
    width: 20vw;
    margin: 12% 0% 5% 0%;
  }
}
@media (max-width: 575.98px) {
  .img-relay {
    width: 15vw;
    margin: 12% 0% 5% 0%;
  }
}

@media (min-width: 1200px) {
  .img-switch {
    width: 10vw;
    margin: 10% 0%;
  }
}
@media (max-width: 1199.98px) {
  .img-switch {
    width: 10vw;
    margin: 15% 0% 5% 0%;
  }
}
@media (max-width: 991.98px) {
  .img-switch {
    width: 15vw;
    margin: 15% 0% 5% 0%;
  }
}
@media (max-width: 767.98px) {
  .img-switch {
    width: 30vw;
    margin: 15% 0% 5% 0%;
  }
}
@media (max-width: 575.98px) {
  .img-switch {
    width: 25vw;
    margin: 12% 0% 5% 0%;
  }
}

.img-pinout {
  width: 80%;
  padding: 10% 0%;
}

.img-wiring {
  width: 80%;
  padding: 2% 0%;
}

.img-table {
  width: 80%;
  padding: 2% 0% 4% 0%;
}

/*# sourceMappingURL=images.css.map */
