:root {
    --img-wiring-padding: 2% 10%;
}

@media (min-width: 1100px) {
    :root {
        --img-raspberry-padding: 2% 18%;
        --img-raspberry-width: 53vw;
    }
}

@media (max-width: 1100px) {
    :root {
        --img-raspberry-padding: 2% 15%;
        --img-raspberry-width: 60vw;
    }
}

@media (max-width: 480px) {
    :root {
        --img-wiring-padding: 2% 5%;
        --img-raspberry-padding: 0% 0%;
        --img-raspberry-width: 50vw;
    }
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-raspberry {
    padding: var(--img-raspberry-padding);
}

.img-dht11 {
    padding: 17% 25%;
}

.img-ultrasonic,
.img-lcd,
.img-7segment {
    padding: 20% 10%;
}

.img-8x8matrix,
.img-shape,
.img-buzzer {
    padding: 10% 15%;
}

.img-relay {
    padding: 10% 30%;
}

.img-ledarray {
    padding: 10% 35%;
}

.img-joystick {
    padding: 5% 10%;
}

.img-gauge,
.img-dpad {
    padding: 10% 15%;
}