.btn-raspi {
    padding-right: 10px;
}

.btn-raspi a {
    font-size: larger;
    padding-right: 15px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 10% 0px 10%;
}

.grid-container {
    padding: 40px
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-container {
    width: 80%;
    height: auto;
}