/* -- add-field -- */
.add-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  .add-field {
    margin: 0% 20%;
  }
}
@media (max-width: 1199.98px) {
  .add-field {
    margin: 0% 10%;
  }
}
@media (max-width: 575.98px) {
  .add-field {
    margin: 0% 5%;
  }
}

/* -- alert -- */
.alert {
  padding-left: 5%;
  padding-right: 5%;
}
@media (min-width: 1200px) {
  .alert {
    margin: 4% 10% 2% 10%;
  }
}
@media (max-width: 1199.98px) {
  .alert {
    margin: 4% 10% 2% 10%;
  }
}
@media (max-width: 991.98px) {
  .alert {
    margin: 4% 8% 2% 8%;
  }
}
@media (max-width: 767.98px) {
  .alert {
    margin: 6% 7% 2% 7%;
  }
}
@media (max-width: 575.98px) {
  .alert {
    margin: 6% 7% 2% 7%;
  }
}

/* -- btn-container -- */
.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  .btn-container {
    padding: 3% 10% 0% 10%;
  }
}
@media (max-width: 1199.98px) {
  .btn-container {
    padding: 3% 10% 1% 10%;
  }
}
@media (max-width: 991.98px) {
  .btn-container {
    padding: 3% 10% 0% 10%;
  }
}
@media (max-width: 767.98px) {
  .btn-container {
    padding: 3% 10% 0% 10%;
  }
}
@media (max-width: 575.98px) {
  .btn-container {
    padding: 3% 10% 2% 10%;
  }
}

/* -- btn-data -- */
.btn-data {
  margin: 1% 2% 1% 2%;
}
@media (min-width: 1200px) {
  .btn-data {
    width: 15%;
  }
}
@media (max-width: 1199.98px) {
  .btn-data {
    width: 10%;
  }
}
@media (max-width: 575.98px) {
  .btn-data {
    width: 20%;
    margin: 2% 2% 2% 2%;
  }
}

/* -- btn-raspi -- */
@media (min-width: 1200px) {
  .btn-raspi {
    font-size: 20px;
    margin: 4% 2% 2% 2%;
  }
}
@media (max-width: 1199.98px) {
  .btn-raspi {
    font-size: 18px;
    margin: 4% 2% 2% 2%;
  }
}
@media (max-width: 991.98px) {
  .btn-raspi {
    font-size: 18px;
    margin: 4% 2% 2% 2%;
  }
}
@media (max-width: 767.98px) {
  .btn-raspi {
    font-size: 16px;
    margin: 4% 3% 2% 3%;
  }
}
@media (max-width: 575.98px) {
  .btn-raspi {
    font-size: 16px;
    margin: 4% 3% 2% 3%;
  }
}

.card-body p {
  padding-bottom: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0% 3%;
}

.card-img-top {
  background-image: linear-gradient(to bottom, rgb(241, 241, 241), rgb(255, 255, 255));
}

/* -- col -- */
@media (min-width: 1200px) {
  .col {
    margin-top: 5%;
  }
}
@media (max-width: 1199.98px) {
  .col {
    margin-top: 7%;
  }
}
@media (max-width: 575.98px) {
  .col {
    margin-top: 10%;
  }
}

.form-raspi {
  padding: 4% 5% 1% 5%;
}
@media (min-width: 1200px) {
  .form-raspi {
    padding: 4% 3% 1% 3%;
  }
}

/* -- grid-container -- */
@media (min-width: 1200px) {
  .grid-container {
    padding: 1% 7%;
    margin-bottom: 5%;
  }
}
@media (max-width: 1199.98px) {
  .grid-container {
    padding: 0% 6%;
    margin-bottom: 6%;
  }
}
@media (max-width: 991.98px) {
  .grid-container {
    padding: 2% 5%;
    margin-bottom: 6%;
  }
}
@media (max-width: 767.98px) {
  .grid-container {
    padding: 2% 4%;
    margin-bottom: 7%;
  }
}
@media (max-width: 575.98px) {
  .grid-container {
    padding: 2% 3%;
    margin-bottom: 7%;
  }
}

/* -- modal -- */
@media (min-width: xl) {
  .modal {
    padding-top: 3%;
  }
}
@media (max-width: xl) {
  .modal {
    padding-top: 4%;
  }
}
@media (max-width: sm) {
  .modal {
    padding-top: 15%;
  }
}

/* -- title-header -- */
@media (min-width: 1200px) {
  .title-header {
    font-size: 3.8rem;
    margin: auto;
  }
}
@media (max-width: 1199.98px) {
  .title-header {
    font-size: 3.6rem;
    margin: auto;
  }
}
@media (max-width: 991.98px) {
  .title-header {
    font-size: 3.5rem;
    margin: auto;
  }
}
@media (max-width: 767.98px) {
  .title-header {
    font-size: 3.2rem;
    margin: auto;
  }
}
@media (max-width: 575.98px) {
  .title-header {
    font-size: 3rem;
    margin: auto;
  }
}

/* -- title-sub-header -- */
@media (min-width: 1200px) {
  .title-sub-header {
    font-size: 2.8rem;
    margin: auto;
  }
}
@media (max-width: 1199.98px) {
  .title-sub-header {
    font-size: 2.5rem;
    margin: auto;
  }
}
@media (max-width: 991.98px) {
  .title-sub-header {
    font-size: 2.3rem;
    margin: auto;
  }
}
@media (max-width: 767.98px) {
  .title-sub-header {
    font-size: 2.2rem;
    margin: auto;
  }
}
@media (max-width: 575.98px) {
  .title-sub-header {
    font-size: 2rem;
    margin-top: 12%;
    margin-bottom: 5%;
  }
}

/*# sourceMappingURL=index.css.map */
