:root {
  --red-bg-color: #F00;
  --red-bg-color-inactive: rgb(156, 0, 0);
  --red-animation-color: #3f1212;
  --red-inset-color: #a71919;

  --blue-bg-color: #24E0FF;
  --blue-bg-color-inactive: #006;
  --blue-animation-color: #24E0FF;
  --blue-inset-color: #026780;

  --white-bg-color: #ffffff;
  --white-bg-color-inactive: #837d3d;
  --white-inset-color: #000000;
  --white-animation-color: #747474;
}

@media (min-width: 1100px) {
  :root {
    --led-width: 3vw;
    --led-height: 3vw;
    --led-box-margin: 2vw;

    --gauge-box-margin: 5% 20%;
    --gauge-box-margin-2: 5% 40% 3% 40%;

    --led-container-margin: 15%;

    --accordion-padding: 0% 15% 2% 15%;
  }
}

@media (max-width: 1100px) {
  :root {
    --led-width: 4vw;
    --led-height: 4vw;
    --led-box-margin: 3vw;

    --gauge-box-margin: 5% 10%;
    --gauge-box-margin-2: 5% 37% 3% 37%;

    --led-container-margin: 15%;

    --accordion-padding: 0% 10% 2% 10%;
  }
}

@media (max-width: 480px) {
  :root {
    --led-width: 6vw;
    --led-height: 6vw;

    --led-box-margin: 5vw;

    --gauge-box-margin: 5%;
    --gauge-box-margin-2: 5% 30%;

    --led-container-margin: 15%;

    --accordion-padding: 0% 5% 2% 5%;
  }
}


.master-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gauge-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.gauge-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--gauge-box-margin);
  background-size: cover;
  background: rgb(49, 49, 49);
}

.gauge-box p {
  font-style: bold;
  font-size: 24px;
  text-align: center;
}

.led-container {
  display: flex;
  direction: column;
  align-items: center;
  justify-content: center;
  padding: 2% 0px;
  height: 80%;
  width: 10%;
}

.led-box {
  width: 25%;
  margin: var(--led-box-margin);
}

.led-red-blink {
  margin: 0 auto;
  width: var(--led-width);
  height: var(--led-height);
  background-color: var(--red-bg-color);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--red-animation-color) 0 -1px 9px, var(--red-bg-color) 0 2px 14px;
  -webkit-animation: blinkRed 0.5s infinite;
  -moz-animation: blinkRed 1s infinite;
  -ms-animation: blinkRed 1s infinite;
  -o-animation: blinkRed 1s infinite;
  animation: blinkRed 1s infinite;
}

.led-red-active {
  margin: 0 auto;
  width: var(--led-width);
  height: var(--led-height);
  background-color: var(--red-bg-color);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--red-animation-color) 0 -1px 9px, var(--red-bg-color) 0 2px 14px;
}

.led-red-inactive {
  margin: 0 auto;
  width: var(--led-width);
  height: var(--led-height);
  background-color: var(--red-bg-color-inactive);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--red-animation-color) 0 -1px 9px, var(--red-bg-color) 0 2px 14px;
}

@-webkit-keyframes blinkRed {
  from {
    background-color: var(--red-bg-color);
  }

  50% {
    background-color: var(--red-animation-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--red-inset-color) 0 -1px 9px, var(--red-bg-color) 0 2px 0;
  }

  to {
    background-color: var(--red-bg-color);
  }
}

@-moz-keyframes blinkRed {
  from {
    background-color: var(--red-bg-color);
  }

  50% {
    background-color: var(--red-animation-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--red-inset-color) 0 -1px 9px, var(--red-bg-color) 0 2px 0;
  }

  to {
    background-color: var(--red-bg-color);
  }
}

@-ms-keyframes blinkRed {
  from {
    background-color: var(--red-bg-color);
  }

  50% {
    background-color: var(--red-animation-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--red-inset-color) 0 -1px 9px, var(--red-bg-color) 0 2px 0;
  }

  to {
    background-color: var(--red-bg-color);
  }
}

@-o-keyframes blinkRed {
  from {
    background-color: var(--red-bg-color);
  }

  50% {
    background-color: var(--red-animation-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--red-inset-color) 0 -1px 9px, var(--red-bg-color) 0 2px 0;
  }

  to {
    background-color: var(--red-bg-color);
  }
}

@keyframes blinkRed {
  from {
    background-color: var(--red-bg-color);
  }

  50% {
    background-color: var(--red-animation-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--red-inset-color) 0 -1px 9px, var(--red-bg-color) 0 2px 0;
  }

  to {
    background-color: var(--red-bg-color)0;
  }
}

.led-blue-blink {
  margin: 0 auto;
  width: var(--led-width);
  height: var(--led-height);
  background-color: var(--blue-bg-color);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--blue-bg-color-inactive) 0 -1px 9px, var(--blue-bg-color) 0 2px 14px;
  -webkit-animation: blinkBlue 1s infinite;
  -moz-animation: blinkBlue 1s infinite;
  -ms-animation: blinkBlue 1s infinite;
  -o-animation: blinkBlue 1s infinite;
  animation: blinkBlue 1s infinite;
}

.led-blue-active {
  margin: 0 auto;
  width: var(--led-width);
  height: var(--led-height);
  background-color: #24E0FF;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--blue-bg-color-inactive) 0 -1px 9px, var(--blue-bg-color) 0 2px 14px;
}

.led-blue-inactive {
  margin: 0 auto;
  width: var(--led-width);
  height: var(--led-height);
  background-color: var(--blue-bg-color-inactive);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--blue-bg-color-inactive) 0 -1px 9px, var(--blue-bg-color) 0 2px 14px;
}

@-webkit-keyframes blinkBlue {
  from {
    background-color: var(--blue-bg-color);
  }

  50% {
    background-color: var(--blue-bg-color-inactive);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--blue-inset-color) 0 -1px 9px, var(--blue-animation-color) 0 2px 0;
  }

  to {
    background-color: var(--blue-bg-color);
  }
}

@-moz-keyframes blinkBlue {
  from {
    background-color: var(--blue-bg-color);
  }

  50% {
    background-color: #006;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--blue-inset-color) 0 -1px 9px, var(--blue-animation-color) 0 2px 0;
  }

  to {
    background-color: var(--blue-bg-color);
  }
}

@-ms-keyframes blinkBlue {
  from {
    background-color: var(--blue-bg-color);
  }

  50% {
    background-color: var(--blue-bg-color-inactive);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--blue-inset-color) 0 -1px 9px, var(--blue-animation-color) 0 2px 0;
  }

  to {
    background-color: var(--blue-bg-color);
  }
}

@-o-keyframes blinkBlue {
  from {
    background-color: var(--blue-bg-color);
  }

  50% {
    background-color: var(--blue-bg-color-inactive);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--blue-inset-color) 0 -1px 9px, var(--blue-animation-color) 0 2px 0;
  }

  to {
    background-color: var(--blue-bg-color);
  }
}

@keyframes blinkBlue {
  from {
    background-color: var(--blue-bg-color);
  }

  50% {
    background-color: var(--blue-bg-color-inactive);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--blue-inset-color) 0 -1px 9px, var(--blue-animation-color) 0 2px 0;
  }

  to {
    background-color: var(--blue-bg-color);
  }
}

.led-white-blink {
  margin: 0 auto;
  width: var(--led-width);
  height: var(--led-height);
  background-color: var(--white-bg-color);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, var(--white-inset-color) 0 -1px 9px, var(--white-inset-color) 0 2px 14px;
  -webkit-animation: blinkWhite 1s infinite;
  -moz-animation: blinkWhite 1s infinite;
  -ms-animation: blinkWhite 1s infinite;
  -o-animation: blinkWhite 1s infinite;
  animation: blinkWhite 1s infinite;
}

.led-white-active {
  margin: 0 auto;
  width: var(--led-width);
  height: var(--led-height);
  background-color: var(--white-bg-color);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--white-inset-color) 0 -1px 9px, var(--white-inset-color) 0 2px 14px;
}

.led-white-inactive {
  margin: 0 auto;
  width: var(--led-width);
  height: var(--led-height);
  background-color: var(--white-bg-color-inactive);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--white-inset-color) 0 -1px 9px, var(--white-inset-color) 0 2px 14px;
}

@-webkit-keyframes blinkWhite {
  from {
    background-color: var(--white-bg-color);
  }

  50% {
    background-color: var(--white-animation-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--white-inset-color) 0 -1px 9px, var(--white-inset-color) 0 2px 0;
  }

  to {
    background-color: var(--white-bg-color);
  }
}

@-moz-keyframes blinkWhite {
  from {
    background-color: var(--white-bg-color);
  }

  50% {
    background-color: var(--white-animation-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--white-inset-color) 0 -1px 9px, var(--white-inset-color) 0 2px 0;
  }

  to {
    background-color: var(--white-bg-color);
  }
}

@-ms-keyframes blinkWhite {
  from {
    background-color: var(--white-bg-color);
  }

  50% {
    background-color: var(--white-animation-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--white-inset-color) 0 -1px 9px, var(--white-inset-color) 0 2px 0;
  }

  to {
    background-color: var(--white-bg-color);
  }
}

@-o-keyframes blinkWhite {
  from {
    background-color: var(--white-bg-color);
  }

  50% {
    background-color: var(--white-animation-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--white-inset-color) 0 -1px 9px, var(--white-inset-color) 0 2px 0;
  }

  to {
    background-color: var(--white-bg-color);
  }
}

@keyframes blinkWhite {
  from {
    background-color: var(--white-bg-color);
  }

  50% {
    background-color: var(--white-animation-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--white-inset-color) 0 -1px 9px, var(--white-inset-color) 0 2px 0;
  }

  to {
    background-color: var(--white-bg-color);
  }
}

.header {
  font-size: 48px;
  text-align: center;
  margin: 1em;
  display: flex;
  justify-content: center;
  font-style: bold;
  background: linear-gradient(to right,
      hsl(98 100% 62%),
      hsl(204 100% 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.footnote {
  font-size: 12px;
  text-align: center;
  margin: 1em;
  display: flex;
  justify-content: center;
  padding: 40px 0 0 0;
}