:root {
  --red-bg-color: #F00;
  --red-inactive-color: #837d3d;
  --red-inset-color: #000000;
  --red-animation-color: #747474;

  --blue-bg-color: #ffffff;
  --blue-inactive-color: #837d3d;
  --blue-inset-color: #000000;
  --blue-animation-color: #747474;

  --yellow-bg-color: #ffffff;
  --yellow-inactive-color: #837d3d;
  --yellow-inset-color: #000000;
  --yellow-animation-color: #747474;

  --white-bg-color: #ffffff;
  --white-inactive-color: #837d3d;
  --white-inset-color: #000000;
  --white-animation-color: #747474;
}


.master-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gauge-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.gauge-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.gauge-box p {
  font-style: bold;
  font-size: 24px;
  text-align: center;
}

.led-container {
  background-size: cover;
  background: rgb(49, 49, 49);
  padding: 20px 0px;
}

.led-box {
  height: auto;
  width: 25%;
  margin: 20px 0;
}

.led-red-blink {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #3f1212 0 -1px 9px, #F00 0 2px 14px;
  -webkit-animation: blinkRed 0.5s infinite;
  -moz-animation: blinkRed 1s infinite;
  -ms-animation: blinkRed 1s infinite;
  -o-animation: blinkRed 1s infinite;
  animation: blinkRed 1s infinite;
}

.led-red-active {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #3f1212 0 -1px 9px, #F00 0 2px 14px;
}

.led-red-inactive {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: rgb(156, 0, 0);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #3f1212 0 -1px 9px, #F00 0 2px 14px;
}

@-webkit-keyframes blinkRed {
  from {
    background-color: #F00;
  }

  50% {
    background-color: #3f1212;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #a71919 0 -1px 9px, #F00 0 2px 0;
  }

  to {
    background-color: #F00;
  }
}

@-moz-keyframes blinkRed {
  from {
    background-color: #F00;
  }

  50% {
    background-color: #3f1212;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #a71919 0 -1px 9px, #F00 0 2px 0;
  }

  to {
    background-color: #F00;
  }
}

@-ms-keyframes blinkRed {
  from {
    background-color: #F00;
  }

  50% {
    background-color: #3f1212;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #a71919 0 -1px 9px, #F00 0 2px 0;
  }

  to {
    background-color: #F00;
  }
}

@-o-keyframes blinkRed {
  from {
    background-color: #F00;
  }

  50% {
    background-color: #3f1212;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #a71919 0 -1px 9px, #F00 0 2px 0;
  }

  to {
    background-color: #F00;
  }
}

@keyframes blinkRed {
  from {
    background-color: #F00;
  }

  50% {
    background-color: #3f1212;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #a71919 0 -1px 9px, #F00 0 2px 0;
  }

  to {
    background-color: #F00;
  }
}

.led-yellow-active {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
  -webkit-animation: blinkYellow 1s infinite;
  -moz-animation: blinkYellow 1s infinite;
  -ms-animation: blinkYellow 1s infinite;
  -o-animation: blinkYellow 1s infinite;
  animation: blinkYellow 1s infinite;
}

.led-yellow-inactive {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #AA0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
}

@-webkit-keyframes blinkYellow {
  from {
    background-color: #FF0;
  }

  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
  }

  to {
    background-color: #FF0;
  }
}

@-moz-keyframes blinkYellow {
  from {
    background-color: #FF0;
  }

  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
  }

  to {
    background-color: #FF0;
  }
}

@-ms-keyframes blinkYellow {
  from {
    background-color: #FF0;
  }

  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
  }

  to {
    background-color: #FF0;
  }
}

@-o-keyframes blinkYellow {
  from {
    background-color: #FF0;
  }

  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
  }

  to {
    background-color: #FF0;
  }
}

@keyframes blinkYellow {
  from {
    background-color: #FF0;
  }

  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
  }

  to {
    background-color: #FF0;
  }
}

.led-blue-blink {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #24E0FF;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #24E0FF 0 2px 14px;
  -webkit-animation: blinkBlue 1s infinite;
  -moz-animation: blinkBlue 1s infinite;
  -ms-animation: blinkBlue 1s infinite;
  -o-animation: blinkBlue 1s infinite;
  animation: blinkBlue 1s infinite;
}

.led-blue-active {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #24E0FF;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #24E0FF 0 2px 14px;
}

.led-blue-inactive {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #006;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #24E0FF 0 2px 14px;
}

@-webkit-keyframes blinkBlue {
  from {
    background-color: #24E0FF;
  }

  50% {
    background-color: #006;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #026780 0 -1px 9px, #24E0FF 0 2px 0;
  }

  to {
    background-color: #24E0FF;
  }
}

@-moz-keyframes blinkBlue {
  from {
    background-color: #24E0FF;
  }

  50% {
    background-color: #006;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #026780 0 -1px 9px, #24E0FF 0 2px 0;
  }

  to {
    background-color: #24E0FF;
  }
}

@-ms-keyframes blinkBlue {
  from {
    background-color: #24E0FF;
  }

  50% {
    background-color: #006;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #026780 0 -1px 9px, #24E0FF 0 2px 0;
  }

  to {
    background-color: #24E0FF;
  }
}

@-o-keyframes blinkBlue {
  from {
    background-color: #24E0FF;
  }

  50% {
    background-color: #006;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #026780 0 -1px 9px, #24E0FF 0 2px 0;
  }

  to {
    background-color: #24E0FF;
  }
}

@keyframes blinkBlue {
  from {
    background-color: #24E0FF;
  }

  50% {
    background-color: #006;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #026780 0 -1px 9px, #24E0FF 0 2px 0;
  }

  to {
    background-color: #24E0FF;
  }
}

.led-white-blink {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: var(--white-bg-color);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, var(--white-inset-color) 0 -1px 9px, var(--white-inset-color) 0 2px 14px;
  -webkit-animation: blinkWhite 1s infinite;
  -moz-animation: blinkWhite 1s infinite;
  -ms-animation: blinkWhite 1s infinite;
  -o-animation: blinkWhite 1s infinite;
  animation: blinkWhite 1s infinite;
}

.led-white-active {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: var(--white-bg-color);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--white-inset-color) 0 -1px 9px, var(--white-inset-color) 0 2px 14px;
}

.led-white-inactive {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: var(--white-inactive-color);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--white-inset-color) 0 -1px 9px, var(--white-inset-color) 0 2px 14px;
}

@-webkit-keyframes blinkWhite {
  from {
    background-color: var(--white-bg-color);
  }

  50% {
    background-color: var(--white-animation-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--white-inset-color) 0 -1px 9px, var(--white-inset-color) 0 2px 0;
  }

  to {
    background-color: var(--white-bg-color);
  }
}

@-moz-keyframes blinkWhite {
  from {
    background-color: var(--white-bg-color);
  }

  50% {
    background-color: var(--white-animation-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--white-inset-color) 0 -1px 9px, var(--white-inset-color) 0 2px 0;
  }

  to {
    background-color: var(--white-bg-color);
  }
}

@-ms-keyframes blinkWhite {
  from {
    background-color: var(--white-bg-color);
  }

  50% {
    background-color: var(--white-animation-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--white-inset-color) 0 -1px 9px, var(--white-inset-color) 0 2px 0;
  }

  to {
    background-color: var(--white-bg-color);
  }
}

@-o-keyframes blinkWhite {
  from {
    background-color: var(--white-bg-color);
  }

  50% {
    background-color: var(--white-animation-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--white-inset-color) 0 -1px 9px, var(--white-inset-color) 0 2px 0;
  }

  to {
    background-color: var(--white-bg-color);
  }
}

@keyframes blinkWhite {
  from {
    background-color: var(--white-bg-color);
  }

  50% {
    background-color: var(--white-animation-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset var(--white-inset-color) 0 -1px 9px, var(--white-inset-color) 0 2px 0;
  }

  to {
    background-color: var(--white-bg-color);
  }
}

.header {
  font-size: 48px;
  text-align: center;
  margin: 1em;
  display: flex;
  justify-content: center;
  font-style: bold;
  background: linear-gradient(to right,
      hsl(98 100% 62%),
      hsl(204 100% 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.footnote {
  font-size: 12px;
  text-align: center;
  margin: 1em;
  display: flex;
  justify-content: center;
  padding: 40px 0 0 0;
}