{% load static %}
{% load range_iterator %}
{% load reusable_blocks %}

<!-- Wiring -->
{% sub_header "tool.svg" "Wiring Schematic" "wiring" %}

<div class="d-flex justify-content-center align-items-center flex-column">
    <img class="img-wiring" src="{% static 'sensor/images/wiring/relay_alarm.svg' %}" alt="Relay Alarm Wiring">
</div>

<!-- Pinout -->
{% sub_header "table.svg" "Pinout Table" "pinout" %}

<div class="d-flex justify-content-center align-items-center flex-column">
    <img class="img-table" src="{% static 'sensor/images/wiring/pins/relay_alarm_NPN8050.svg' %}" alt="Relay NPN8050 Pins">
    <img class="img-table" src="{% static 'sensor/images/wiring/pins/relay_alarm.svg' %}" alt="Relay Pins">
</div>