@use "third-party/bootstrap" as *;
@use "utils" as *;

:root {
  --img-wiring-padding: 0% 10%;
}

@media (min-width: 1100px) {
  :root {
    --img-raspberry-width: 43vw;
    --img-icon-wh: 5%;
  }
}

@media (max-width: 1100px) {
  :root {
    --img-raspberry-width: 48vw;
    --img-icon-wh: 10%;
  }
}

@media (max-width: 480px) {
  :root {
    --img-wiring-padding: 0% 5%;
    --img-raspberry-width: 70vw;
    --img-icon-wh: 12%;
  }
}

.img-icon {
  margin: 1% 1%;

  @include media-breakpoint-up(xl) {
    width: 3%;
    height: 3%;
    margin-left: 2%;
  }
  @include media-breakpoint-down(xl) {
    width: 3.6%;
    height: 3.6%;
    margin-left: 2%;
  }
  @include media-breakpoint-down(lg) {
    width: 3.7%;
    height: 3.7%;
    margin-left: 2%;
  }
  @include media-breakpoint-down(md) {
    width: 3.9%;
    height: 3.9%;
    margin-left: 2%;
  }
  @include media-breakpoint-down(sm) {
    width: 4.5%;
    height: 4.5%;
    margin: auto 3%;
  }
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 5%;
}

/* -- img-raspberry -- */
.img-raspberry {
  @include media-breakpoint-up(xl) {
    padding: 2% 10%;
  }
  @include media-breakpoint-down(xl) {
    padding: 2% 15%;
  }
  @include media-breakpoint-down(lg) {
    padding: 5% 15%;
  }
  @include media-breakpoint-down(md) {
    padding: 5% 20% 2% 20%;
  }
  @include media-breakpoint-down(sm) {
    padding: 5% 25% 2% 25%;
  }
}

.img-dht11 {
  padding: 17% 25%;
}

.img-ultrasonic,
.img-lcd,
.img-7segment {
  padding: 20% 10%;
}

.img-8x8matrix,
.img-shape,
.img-joystick {
  padding: 10% 15%;
}

.img-relay {
  padding: 10% 30%;
}

.img-ledarray {
  padding: 10% 35%;
}

.img-buzzer {
  padding: 10% 10%;
}

.img-gauge,
.img-dpad {
  padding: 10% 15%;
}
