@use "third-party/bootstrap" as *;
@use "utils" as *;

/* -- img-icon -- */
.img-icon {
  margin: 1% 1%;

  @include media-breakpoint-up(xl) {
    width: 3.6%;
    height: 3.6%;
    margin: 0% 1% 0.5% 3%;
  }
  @include media-breakpoint-down(xl) {
    width: 3.6%;
    height: 3.6%;
    margin: 0% 1% 0.5% 3%;
  }
  @include media-breakpoint-down(lg) {
    width: 4.5%;
    height: 4.5%;
    margin: 0% 2% 0.5% 3%;
  }
  @include media-breakpoint-down(md) {
    width: 5%;
    height: 5%;
    margin: 0% 3% 1% 3%;
  }
  @include media-breakpoint-down(sm) {
    width: 5%;
    height: 5%;
    margin: 0% 3% 1% 4%;
  }
}

/* -- img-raspberry -- */
.img-raspberry {
  @include media-breakpoint-up(xl) {
    width: 10vw;
    margin: 10% 0% 5% 0%;
  }
  @include media-breakpoint-down(xl) {
    width: 10vw;
    margin: 10% 0% 5% 0%;
  }
  @include media-breakpoint-down(lg) {
    width: 18vw;
    margin: 15% 0% 5% 0%;
  }
  @include media-breakpoint-down(md) {
    width: 30vw;
    margin: 10% 0% 5% 0%;
  }
  @include media-breakpoint-down(sm) {
    width: 25vw;
    margin: 12% 0% 5% 0%;
  }
}

/* -- img-raspberry-add -- */
.img-raspberry-add {
  @include media-breakpoint-up(xl) {
    width: 20vw;
  }
  @include media-breakpoint-down(xl) {
    width: 22vw;
  }
  @include media-breakpoint-down(lg) {
    width: 25vw;
  }
  @include media-breakpoint-down(md) {
    width: 30vw;
  }
  @include media-breakpoint-down(sm) {
    width: 40vw;
  }
}

/* -- Sensors -- */
.img-dht11 {
  @include media-breakpoint-up(xl) {
    width: 8vw;
    margin: 15% 0% 8% 0%;
  }
  @include media-breakpoint-down(xl) {
    width: 8vw;
    margin: 15% 0% 5% 0%;
  }
  @include media-breakpoint-down(lg) {
    width: 12vw;
    margin: 15% 0% 5% 0%;
  }
  @include media-breakpoint-down(md) {
    width: 22vw;
    margin: 12% 0% 5% 0%;
  }
  @include media-breakpoint-down(sm) {
    width: 20vw;
    margin: 12% 0% 5% 0%;
  }
}

.img-ultrasonic,
.img-lcd,
.img-7segment,
.img-buzzer,
.img-alarm {
  @include media-breakpoint-up(xl) {
    width: 15vw;
    margin: 15% 0% 8% 0%;
  }
  @include media-breakpoint-down(xl) {
    width: 15vw;
    margin: 15% 0% 5% 0%;
  }
  @include media-breakpoint-down(lg) {
    width: 22vw;
    margin: 15% 0% 5% 0%;
  }
  @include media-breakpoint-down(md) {
    width: 35vw;
    margin: 15% 0% 5% 0%;
  }
  @include media-breakpoint-down(sm) {
    width: 30vw;
    margin: 12% 0% 5% 0%;
  }
}

.img-8x8matrix,
.img-shape,
.img-joystick,
.img-gauge,
.img-dpad,
.img-matrix,
.img-leds {
  @include media-breakpoint-up(xl) {
    width: 12vw;
    margin: 15% 0% 8% 0%;
  }
  @include media-breakpoint-down(xl) {
    width: 12vw;
    margin: 15% 0% 5% 0%;
  }
  @include media-breakpoint-down(lg) {
    width: 18vw;
    margin: 15% 0% 5% 0%;
  }
  @include media-breakpoint-down(md) {
    width: 30vw;
    margin: 12% 0% 5% 0%;
  }
  @include media-breakpoint-down(sm) {
    width: 25vw;
    margin: 12% 0% 5% 0%;
  }
}

.img-ledarray {
  @include media-breakpoint-up(xl) {
    width: 5vw;
    margin: 15% 0% 8% 0%;
  }
  @include media-breakpoint-down(xl) {
    width: 5vw;
    margin: 15% 0% 5% 0%;
  }
  @include media-breakpoint-down(lg) {
    width: 8vw;
    margin: 15% 0% 5% 0%;
  }
  @include media-breakpoint-down(md) {
    width: 15vw;
    margin: 12% 0% 5% 0%;
  }
  @include media-breakpoint-down(sm) {
    width: 15vw;
    margin: 12% 0% 5% 0%;
  }
}

.img-midi {
  @include media-breakpoint-up(xl) {
    width: 14vw;
    margin: 15% 0%;
  }
  @include media-breakpoint-down(xl) {
    width: 16vw;
    margin: 15% 0%;
  }
  @include media-breakpoint-down(lg) {
    width: 18vw;
    margin: 15% 0%;
  }
  @include media-breakpoint-down(md) {
    width: 35vw;
    margin: 12% 0% 10% 0%;
  }
  @include media-breakpoint-down(sm) {
    width: 35vw;
    margin: 15% 0% 8% 0%;
  }
}

.img-relay {
  @include media-breakpoint-up(xl) {
    width: 8vw;
    margin: 15% 0% 5% 0%;
  }
  @include media-breakpoint-down(xl) {
    width: 8vw;
    margin: 15% 0% 5% 0%;
  }
  @include media-breakpoint-down(lg) {
    width: 12vw;
    margin: 15% 0% 5% 0%;
  }
  @include media-breakpoint-down(md) {
    width: 20vw;
    margin: 12% 0% 5% 0%;
  }
  @include media-breakpoint-down(sm) {
    width: 15vw;
    margin: 12% 0% 5% 0%;
  }
}

.img-switch {
  @include media-breakpoint-up(xl) {
    width: 10vw;
    margin: 10% 0%;
  }
  @include media-breakpoint-down(xl) {
    width: 10vw;
    margin: 15% 0% 5% 0%;
  }
  @include media-breakpoint-down(lg) {
    width: 15vw;
    margin: 15% 0% 5% 0%;
  }
  @include media-breakpoint-down(md) {
    width: 30vw;
    margin: 15% 0% 5% 0%;
  }
  @include media-breakpoint-down(sm) {
    width: 25vw;
    margin: 12% 0% 5% 0%;
  }
}

.img-pinout {
  width: 80%;
  padding: 10% 0%;
}

.img-wiring {
  width: 80%;
  padding: 2% 0%;
}

.img-table {
  width: 80%;
  padding: 2% 0% 4% 0%;
}
