@use "third-party/bootstrap" as *;
@use "utils" as *;

/* -- add-field -- */
.add-field {
  @include flex-column;
  @include flex-center;

  @include media-breakpoint-up(xl) {
    margin: 0% 20%;
  }
  @include media-breakpoint-down(xl) {
    margin: 0% 20%;
  }
  @include media-breakpoint-down(lg) {
    margin: 0% 20%;
  }
  @include media-breakpoint-down(md) {
    margin: 0% 20%;
  }
  @include media-breakpoint-down(sm) {
    margin: 0% 20%;
  }
}

/* -- alert -- */
.alert {
  padding-left: 5%;
  padding-right: 5%;

  h1 {
    font-size: 2rem;
    margin: 3% 0% 2% 2%;
  }
  h5 {
    font-size: 1.5rem;
    margin: 3% 0% 2% 2%;
  }
  p.card-text {
    font-size: 1.1rem;
    margin: 2%;
  }

  @include media-breakpoint-up(xl) {
    margin: 4% 10% 2% 10%;
  }
  @include media-breakpoint-down(xl) {
    margin: 4% 10% 2% 10%;
  }
  @include media-breakpoint-down(lg) {
    margin: 4% 8% 1% 8%;
  }
  @include media-breakpoint-down(md) {
    margin: 6% 12% 2% 12%;
    font-size: 14px;

    h1 {
      font-size: 1.5rem;
      margin: 3% 0% 2% 2%;
    }
    h5 {
      font-size: 1.2rem;
      margin: 3% 0% 2% 2%;
    }
    p.card-text {
      margin: 3%;
    }
  }
  @include media-breakpoint-down(sm) {
    margin: 6% 10% 2% 10%;
    font-size: 12px;

    h1 {
      font-size: 1.5rem;
      margin: 3% 0% 2% 2%;
    }
    h5 {
      font-size: 1.2rem;
      margin: 3% 0% 2% 2%;
    }
    p.card-text {
      margin: 3%;
    }
  }
}

/* -- btn-container -- */
.btn-container {
  @include flex-row;
  @include flex-center;

  @include media-breakpoint-up(xl) {
    padding: 1% 10% 1% 10%;
  }
  @include media-breakpoint-down(xl) {
    padding: 1% 10% 1% 10%;
  }
  @include media-breakpoint-down(lg) {
    padding: 3% 5% 0% 5%;
  }
  @include media-breakpoint-down(md) {
    padding: 2% 10% 0% 10%;
  }
  @include media-breakpoint-down(sm) {
    padding: 6% 10% 0% 10%;
  }
}

/* -- btn-data -- */
.btn-data {
  font-size: 18px;
  margin: 2% 5%;
  padding: 1% 5%;

  @include media-breakpoint-down(lg) {
    font-size: 16px;
  }
  @include media-breakpoint-down(md) {
    font-size: 16px;
    margin: 2% 8%;
    padding: 2% 8%;
  }
  @include media-breakpoint-down(sm) {
    font-size: 12px;
    margin: 2% 10%;
    padding: 2% 8%;
  }
}

/* -- btn-raspi -- */
.btn-raspi {
  @include media-breakpoint-up(xl) {
    font-size: 1.2rem;
    margin: 0% 5% 0% 5%;
  }
  @include media-breakpoint-down(xl) {
    font-size: 1.2rem;
    margin: 0% 4% 0% 4%;
  }
  @include media-breakpoint-down(lg) {
    font-size: 1.1rem;
    margin: 0% 2% 0% 2%;
  }
  @include media-breakpoint-down(md) {
    font-size: 1.1rem;
    margin: 4% 4% 0% 4%;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1rem;
    margin: 0% 4%;
  }
}

.card-container {
  @include flex-column;
  @include flex-center;

  @include media-breakpoint-up(xl) {
    width: 25vw;
  }
  @include media-breakpoint-down(xl) {
    width: 25vw;
  }
  @include media-breakpoint-down(lg) {
    width: 38vw;
  }
  @include media-breakpoint-down(md) {
    width: auto;
  }
  @include media-breakpoint-down(sm) {
    width: auto;
  }

  // Title
  .card-title {
    // TODO
    @include media-breakpoint-up(xl) {
      font-size: 28px;
      padding: auto;
    }
    @include media-breakpoint-down(xl) {
      font-size: 28px;
      padding: auto;
    }
    @include media-breakpoint-down(lg) {
      font-size: 28px;
      padding: auto;
    }
    @include media-breakpoint-down(md) {
      font-size: 2rem;
      padding: auto;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1.5rem;
      padding: auto;
    }
  }

  // Body
  .card-body {
    width: 100%;
    padding: auto;

    p {
      @include media-breakpoint-up(xl) {
        font-size: 1.3rem;
        padding: 2% 10%;
        margin-top: 5%;
        margin-bottom: 8%;
      }
      @include media-breakpoint-down(xl) {
        font-size: 1.3rem;
        padding: 2% 10%;
        margin-top: 5%;
        margin-bottom: 8%;
      }
      @include media-breakpoint-down(lg) {
        font-size: 1.25rem;
        margin-top: 5%;
        margin-bottom: 8%;
      }
      @include media-breakpoint-down(md) {
        font-size: 1.25rem;
        margin-top: 5%;
        margin-bottom: 5%;
      }
      @include media-breakpoint-down(sm) {
        font-size: 1.15rem;
        margin-top: 5%;
        margin-bottom: 5%;
      }
    }
  }
}

.card-img-top {
  background-image: linear-gradient(
    to bottom,
    rgb(241, 241, 241),
    rgb(255, 255, 255)
  );
}

/* -- col -- */
.col {
  margin: 0%;

  @include media-breakpoint-up(xl) {
    padding: 2% 2%;
  }
  @include media-breakpoint-down(xl) {
    padding: 2% 2%;
  }
  @include media-breakpoint-down(lg) {
    padding: 4% 2%;
  }
  @include media-breakpoint-down(md) {
    padding: 5% 10%;
  }
  @include media-breakpoint-down(sm) {
    padding: 5% 10%;
  }
}

/* -- form-input -- */
.form-input {
  padding: 5% 10% 0% 10%;

  span.input-group-text,
  input.form-control {
    height: 120%;
  }

  @include media-breakpoint-down(md) {
    span.input-group-text,
    input.form-control {
      font-size: 16px;
      height: 80%;
    }
  }
  @include media-breakpoint-down(sm) {
    span.input-group-text,
    input.form-control {
      font-size: 14px;
      height: 80%;
    }
  }
}

/* -- form-raspi -- */
.form-raspi {
  margin: 5%;
  padding: 0% 10% 0% 10%;

  @include media-breakpoint-down(lg) {
    padding: 0% 5% 0% 5%;
  }
  @include media-breakpoint-down(md) {
    width: 80vw;
  }
  @include media-breakpoint-down(sm) {
    width: 80vw;
  }
}

.form-raspi-modify {
  padding: 0% 10% 0% 10%;

  @include media-breakpoint-down(sm) {
    padding: 0% 5% 0% 5%;
  }
}

/* -- grid-container -- */
.grid-container {
  justify-content: center;
  margin: 0%;
  width: 100%;

  @include media-breakpoint-up(xl) {
    padding: 0% 5%;
    margin-top: 2%;
    margin-bottom: 5%;
  }
  @include media-breakpoint-down(xl) {
    padding: 0% 6%;
    margin-top: 1%;
    margin-bottom: 6%;
  }
  @include media-breakpoint-down(lg) {
    padding: 2% 5%;
    margin-top: 1%;
    margin-bottom: 6%;
  }
  @include media-breakpoint-down(md) {
    padding: 2% 4%;
    margin-top: 2%;
    margin-bottom: 7%;
  }
  @include media-breakpoint-down(sm) {
    padding: 2% 3%;
    margin-top: 2%;
    margin-bottom: 7%;
  }
}

/* -- modal -- */
.modal {
  padding-top: 3%;

  @include media-breakpoint-down(md) {
    padding-top: 10%;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 15%;
  }
}

.modal-dialog {
  @include media-breakpoint-down(md) {
    margin: 8%;
  }
  @include media-breakpoint-down(sm) {
    margin: 8%;
  }
}

/* -- title-header -- */
.title-header {
  @include media-breakpoint-up(xl) {
    font-size: 3.4rem;
    margin: 1% 5% 2% 5%;
  }
  @include media-breakpoint-down(xl) {
    font-size: 3rem;
    margin: 1% 5% 2% 5%;
  }
  @include media-breakpoint-down(lg) {
    font-size: 2.5rem;
    margin: 1% 5% 2% 5%;
  }
  @include media-breakpoint-down(md) {
    font-size: 2.8rem;
    margin: 8% 5% 2% 5%;
  }
  @include media-breakpoint-down(sm) {
    font-size: 2rem;
    margin: 8% 5% 2% 5%;
  }
}

/* -- title-sub-header -- */
.title-sub-header {
  @include media-breakpoint-up(xl) {
    font-size: 2.8rem;
    margin-top: 5%;
    margin-bottom: 3.5%;
  }
  @include media-breakpoint-down(xl) {
    font-size: 2.5rem;
    margin-top: 8%;
    margin-bottom: 3.5%;
  }
  @include media-breakpoint-down(lg) {
    font-size: 2.2rem;
    margin-top: 8%;
    margin-bottom: 5%;
  }
  @include media-breakpoint-down(md) {
    font-size: 1.9rem;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.5rem;
    margin-top: 10%;
    margin-bottom: 5%;
  }
}

.log-container {
  width: 80%;
  height: auto;
}
