{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Base Template {% endblock %}</title>

    <link href="{% static 'sensor/css/third-party/bootstrap.min.css' %}" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="{% static 'sensor/js/third-party/bootstrap.bundle.min.js' %}"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <div id="content-head" , name="content-head">
        {% block content-head %}
        {% endblock %}
    </div>
</head>

<body>
    {% include 'sensor/navbar.html' %}

    <div id="content" , name="content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>