{% extends 'sensor/sensor.html' %}
{% load static %}
{% load range_iterator %}

<!-- === Title === -->
{% block title %} {{ sensor_name|title }} with {{extra_function}} {% endblock %}

<!-- === Body === -->
{% block content %}

{{ debug|json_script:"debug" }}
{{ pi_name|json_script:"pi-name" }}
{{ sensor_name|json_script:"sensor-name" }}
{{ extra_function|json_script:"extra-function" }}

{% make_list "gauge, lcd" as extra_list %}
{% if extra_function in extra_list %}
    {% if extra_function == "gauge" %}
        <script src="{% static 'sensor/js/third-party/gauge/gauge.min.js' %}"></script>
        <script src="{% static 'sensor/js/utils/gauge.js' %}"></script>
    {% endif %}

    {% include url %}
{% else %}
    {% include 'sensor/404.html' %}
{% endif %}

<script src="{% static 'sensor/js/sensors/dht11.js' %}"></script>

{% if debug == True %}
<!-- Debugging -->
<div class="d-flex p-2 align-content-center justify-content-center" style="margin: 20px;">
    <div class="d-inline-flex p-2 flex-column log-container">
        <textarea id="data-log" cols="100" rows="10" style="border:solid 2px;" readonly></textarea><br>
        <input id="data-message-input" type="text" size="100" style="border:solid 2px; margin-top: 20px;"><br>
        <div class="card-container">
            <input class="d-flex align-self-start" id="data-message-submit" type="button" value="Send"
                style="width: 50%; margin: 20px 20px;">
            <input class="d-flex align-self-end" id="clear-textarea" type="button" value="Clear"
                style="width: 50%; margin: 20px 20px;">
        </div>
    </div>
</div>
{% endif %}

{% endblock %}