{% extends 'sensor/sensor.html' %}
{% load static %}
{% load range_iterator %}
{% load reusable_blocks %}

<!-- === Head === -->
{% block content-head %}
    <script src="{% static 'sensor/js/sensors/' %}{{sensor_name}}.js"></script>
{% endblock %}

<!-- === Title === -->
{% block title %} {{ sensor_name|better_title }} with {{ extra|better_title }} {% endblock %}

<!-- === Body === -->
{% block content %}

<!-- Javascript Data -->
{{ debug|json_script:"debug" }}
{{ pi_name|json_script:"pi-name" }}
{{ sensor_name|json_script:"sensor-name" }}
{{ extra|json_script:"extra-function" }}

<!-- Breadcrumb -->
<nav style="--bs-breadcrumb-divider: url({% static 'sensor/images/icons/chevron-right.svg' %});"
    aria-label="breadcrumb">
    <ol class="breadcrumb mx-4 mt-4 mb-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/{{ pi_name }}">{{ pi_name }}</a></li>
        <li class="breadcrumb-item"><a href="/{{ pi_name }}/{{ sensor_name }}">{{ sensor_name|better_title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ extra|better_title }}</li>
    </ol>
</nav>

<!-- Heading -->
<h1 class="jumbotron title-header text-center mx-5 my-5">{{ sensor_name|better_title }} with {{ extra|better_title }}</h1>

<!-- Extra Page -->
{% make_list "gauge, lcd, shape, dpad, leds, matrix, alarm, midi, switch" as extra_list %}
{% if extra in extra_list %}
    {% if extra == "gauge" %}
        <link rel="stylesheet" href="{% static 'sensor/css/sensor/gauge.css' %}">
        <script src="{% static 'sensor/js/third-party/gauge/gauge.min.js' %}"></script>
        <script src="{% static 'sensor/js/utils/gauge.js' %}"></script>
    {% endif %}

    {% include url %}
{% else %}
    {% include 'sensor/base/404.html' %}
{% endif %}

<!-- Debugging -->
{% if debug == True %}
    {% include 'sensor/blocks/debugging.html' %}
{% endif %}

{% endblock %}