{% extends 'sensor/base.html' %}
{% load static %}

{% block title %} Raspberry Pi {% endblock %}

{% block content-head %}
<link rel="stylesheet" href="{% static 'sensor/css/index.css' %}">
{% endblock %}

{% block content %}
<div class="btn-add">
    <button type="button" class="btn btn-success" style="margin: 20px 40px;">
        <img src="{% static 'sensor/images/icons/plus.svg' %}" alt="plus"
            style="filter: invert(85%); margin-right: 5px; margin-bottom: 2px;" class="icon">
        Add Device
    </button>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4 grid-container">

    {% for item in raspi %}
    <div class="col">
        <div class="card text-center h-100" onclick="location.href='/{{item.name}}/';" style="cursor: pointer;">
            <img src="{% static 'sensor/images/icons/Raspberry_Pi_Logo.svg' %}" class="card-img-top" alt="{{item.name}}"
                style="padding: 30px 50px;">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text" style="padding-bottom: 20px;">{{item.address}}</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}