{% extends 'sensor/base.html' %}
{% load static %}

<!-- === Title === -->
{% block title %} Raspberry Pi {% endblock %}

<!-- === Body === -->
{% block content %}

<!-- Button Group -->
<div class="btn-container">
    <a class="btn btn-success btn-lg btn-raspi" href="/add-pi/" role="button">
        <img src="{% static 'sensor/images/icons/plus.svg' %}" width="30" height="24" alt="add-pi"
            style="filter: invert(85%); margin: 5px 0px;" class="icon">
        Add Device
    </a>
    <a class="btn btn-dark btn-lg btn-raspi" href="/modify-pi/" role="button">
        <img src="{% static 'sensor/images/icons/edit-2.svg' %}" width="28" height="22" alt="remove-pi"
            style="filter: invert(85%); margin: 5px 0px;" class="icon">
        Modify Device
    </a>
    <a class="btn btn-danger btn-lg btn-raspi" href="/remove-pi/" role="button">
        <img src="{% static 'sensor/images/icons/minus.svg' %}" width="30" height="24" alt="remove-pi"
            style="filter: invert(85%); margin: 5px 0px;" class="icon">
        Remove Device
    </a>
</div>

<!-- Card Group -->
<div class="row row-cols-1 row-cols-md-4 g-4 grid-container">
    {% for item in raspi %}
    <div class="col">
        <div class="card card-container text-center h-100" onclick="location.href='/{{item.name}}/';"
            style="cursor: pointer;">
            <img src="{% static 'sensor/images/icons/raspberry_logo.svg' %}" class="card-img-top img-raspberry"
                alt="{{item.name}}">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text" style="padding-bottom: 20px;">{{item.address}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}