{% extends 'sensor/base.html' %}
{% load static %}
{% load reusable_blocks %}

<!-- === Title === -->
{% block title %} {{ pi_name }} {% endblock %}

<!-- === Body === -->
{% block content %}
{% if pi_name in pi_list %}

<!-- Breadcrumb -->
<nav style="--bs-breadcrumb-divider: url({% static 'sensor/images/icons/chevron-right.svg' %});"
    aria-label="breadcrumb">
    <ol class="breadcrumb mx-4 mt-4 mb-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ pi_name }}</a></li>
    </ol>
</nav>

<!-- Heading -->
<h1 class="jumbotron title-header text-center mx-5">{{ pi_name }} Sensors</h1>

<!-- Alert -->
<div class="alert alert-secondary alert-dismissible fade show" role="alert">
    <p class="lead my-2">Check out the Raspberry Pi <a href="/pinout" class="alert-link">pinout page</a> for pin
        numbers.</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="row row-cols-1 row-cols-md-auto g-4 grid-container">
    {% for sensor_name in sensors %}
    <div class="col">
        <div class="card text-center h-100 card-container" onclick="location.href='/{{pi_name}}/{{sensor_name}}';"
            style="cursor: pointer;">
            <div class="card-img-top">
                <img src="{% static 'sensor/images/sensors/' %}{{sensor_name}}.svg" class="img-{{sensor_name}}"
                    loading="lazy" alt="{{sensor_name}}">
            </div>
            <div class="card-body lead">
                <h5 class="card-title jumbotron">
                    {{ sensor_name|better_title }}
                </h5>
                <p class="card-text">
                    {% if sensor_name == "dht11" %}
                        Capture Temperature and humidity values and output
                        them as serial data
                    {% elif sensor_name == "ultrasonic" %}
                        Measure distance using ultrasonic sound waves
                    {% elif sensor_name == "8x8matrix" %}
                        An 8x8 LED matrix which can be changed into various
                        patterns
                    {% elif sensor_name == "buzzer" %}
                        Make a buzzing noise by controlling the frequency
                    {% elif sensor_name == "relay" %}
                        An electrical switch that opens or closes to control
                        other components such as
                        motors
                    {% elif sensor_name == "lcd" %}
                        Display messages on a 16x2 flat-panel screen
                    {% elif sensor_name == "7segment" %}
                        Display decimal numerals
                    {% elif sensor_name == "ledarray" %}
                        An arrangement of LEDs
                    {% elif sensor_name == "joystick" %}
                        Control joystick directions
                    {% endif %}
                </p>
            </div>

        </div>
    </div>
    {% endfor %}

</div>

{% else %}

{% include 'sensor/base/404.html' %}

{% endif %}
{% endblock %}