{% extends 'sensor/base.html' %}
{% load static %}

{% block title %} {{sensor_name}} {% endblock %}

{% block content-head %}
<link rel="stylesheet" href="{% static 'sensor/css/index.css' %}">
{% endblock %}

{% block content %}

{{ pi_name|json_script:"pi-name" }}
{{ sensor_name|json_script:"sensor-name" }}

{% if sensor_name in sensors %}
    {% include url %}
{% else %}
    {% include 'sensor/404.html' %}
{% endif %}

<div class="d-flex p-2 align-content-center justify-content-center" style="margin: 20px;">
    <div class="d-inline-flex p-2 flex-column log-container">
        <textarea id="data-log" cols="100" rows="10" style="border:solid 2px;" readonly></textarea><br>
        <input id="data-message-input" type="text" size="100" style="border:solid 2px; margin-top: 20px;"><br>
        <div class="card-container">
            <input class="d-flex align-self-start" id="data-message-submit" type="button" value="Send"
                style="width: 50%; margin: 20px 20px;">
            <input class="d-flex align-self-end" id="clear-textarea" type="button" value="Clear"
                style="width: 50%; margin: 20px 20px;">
        </div>
    </div>
</div>

{% endblock %}