{% extends 'sensor/base.html' %}
{% load static %}
{% load range_iterator %}
{% load reusable_blocks %}

<!-- === Title === -->
{% block title %} {{ sensor_name|better_title }} {% endblock %}

<!-- === Head === -->
{% block content-head %}
<link rel="stylesheet" href="{% static 'sensor/css/sensor.css' %}">
<link rel="stylesheet" href="{% static 'sensor/css/sensor/gauge.css' %}">
{% endblock %}

<!-- === Body === -->
{% block content %}

<!-- Javascript Data -->
{{ debug|json_script:"debug" }}
{{ pi_name|json_script:"pi-name" }}
{{ sensor_name|json_script:"sensor-name" }}
{% make_list "dht11, 8x8matrix" as has_extra %}

<!-- Breadcrumb -->
<nav style="--bs-breadcrumb-divider: url({% static 'sensor/images/icons/chevron-right.svg' %});"
    aria-label="breadcrumb">
    <ol class="breadcrumb mx-4 mt-4 mb-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/{{ pi_name }}">{{ pi_name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ sensor_name|better_title }}</a></li>
    </ol>
</nav>

<!-- Heading -->
{% if sensor_name in has_extra %}
    <h1 class="jumbotron title-header text-center mx-5 mt-3 mb-2">{{ sensor_name|better_title }}</h1>
{% else %}
    <h1 class="jumbotron title-header text-center mx-5 my-5">{{ sensor_name|better_title }}</h1>
{% endif %}

<!-- Sensor Page -->
{% if sensor_name in sensors %}
    {% include url %}
{% else %}
    {% include 'sensor/base/404.html' %}
{% endif %}

<!-- Debugging -->
{% if debug == True %}
    {% include 'sensor/blocks/debugging.html' %}
{% endif %}

{% endblock %}