{% load static %}
{% load reusable_blocks %}

<link rel="stylesheet" href="{% static 'sensor/css/leds.css' %}">

<!-- Wiring -->
{% sub_header "tool.svg" "Wiring Schematic" "wiring" %}

<div class="d-flex justify-content-center align-items-center flex-column">
    <img class="img-wiring" src="{% static 'sensor/images/wiring/ledmatrix.svg' %}" alt="LED Matrix Wiring">
</div>
<div class="d-flex justify-content-center align-items-center flex-column">
    <img class="img-table" src="{% static 'sensor/images/wiring/ledmatrix_pins.svg' %}" alt="LED Matrix Wiring">
</div>

<!-- Interface -->
{% sub_header "sliders.svg" "Control Panel" "control" %}

<div class="accordion" id="accordionInfo" style="padding: var(--accordion-padding);">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <strong>How To Use ?</strong>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionInfo">
            <div class="accordion-body">
                <ul>
                    <li>
                        <h5 class="card-title">Send Data</h5>
                        <p class="card-text">
                            Click on a LED to switch its state between <strong>on</strong> and <strong>off</strong>
                            then click the <u><strong>send</strong></u> button to display the pattern on the LED matrix.
                        </p>
                    </li><br>
                    <li>
                        <h5 class="card-title">Clear LEDs</h5>
                        <p>
                            After clicking the <u><strong>clear</strong></u> button you can either click
                            <u><strong>send</strong></u> to clear the LED matrix or redraw the shape you
                            want before sending it.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% load range_iterator %}
{% iterate_over 8 as range %}

<div class="text-center">
    <div class="gauge-box" style="flex-direction: row;">
        {% for i in range %}
        <div class="led-container">
            <div>
                {% for j in range %}
                <div class="led-box">
                    <div class="led-white-inactive" id="led-{{i}}-{{j}}"
                        onclick="location.href='javascript:flipLED(\'led-{{i}}-{{j}}\')';"></div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="btn-container" style="margin-bottom: 5%; padding-top: 0%;">
        <button type="button" class="btn btn-success btn-data" id="send-data">Send</button>
    <button type="button" class="btn btn-dark btn-data" id="clear-data">Clear</button>
    </div>
</div>

<script src="{% static 'sensor/js/utils/ledutils.js' %}"></script>
<script src="{% static 'sensor/js/sensors/8x8matrix.js' %}"></script>