{% extends 'sensor/base.html' %}
{% load static %}
{% load reusable_blocks %}

<!-- === Title === -->
{% block title %} Add Raspberry Pi {% endblock %}

<!-- === Body === -->
{% block content %}

<!-- Heading -->
<h1 class="jumbotron title-header text-center mt-5 mx-5">Add Raspberry Pi</h1>

<div class="add-field">
    <img src="{% static 'sensor/images/icons/raspberry_logo.svg' %}" class="img-raspberry-add pt-3 pb-0"
        alt="Raspberry Pi">
    <form action="/add-pi/" method="post" class="d-flex flex-column align-items-center justify-content-center"
        style="width: 100%;">
        {% csrf_token %}

        {% for field in form %}
        <div class="input-group mb-3 form-raspi">
            <span class="input-group-text"
                id="basic-addon-{{field.id_for_label}}"><strong>{{ field.label|better_title }}</strong></span>
            <input type="{{ field.field.widget.input_type }}" class="form-control form-control-lg"
                id="{{ field.id_for_label }}" name="{{ field.name }}" {% if field.name == "address" %}
                placeholder="10.30.1.11"
                pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$" {% else %}
                placeholder="IOT1" {% endif %} required />
        </div>
        {% endfor %}
        <button class="btn btn-success btn-lg btn-raspi my-4 mb-5" type="submit">Add Raspberry</button>
    </form>
</div>

{% endblock %}