{% extends 'sensor/base.html' %}
{% load static %}

<!-- === Title === -->
{% block title %} Remove Raspberry Pi {% endblock %}

<!-- === Head === -->
{% block content-head %}
<script type="application/javascript" src="{% static 'sensor/js/raspberry/remove-pi.js' %}"></script>
<script type="application/javascript" src="{% static 'sensor/js/third-party/js.cookie.min.js' %}"></script>
{% endblock %}

<!-- === Body === -->
{% block content %}

<!-- Breadcrumb -->
<nav style="--bs-breadcrumb-divider: url({% static 'sensor/images/icons/chevron-right.svg' %});"
    aria-label="breadcrumb">
    <ol class="breadcrumb mx-4 mt-4 mb-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Remove Pi</a></li>
    </ol>
</nav>

<!-- Heading -->
<h1 class="jumbotron title-header text-center mt-5 mx-5">Remove Raspberry Pi</h1>

<!-- Alert -->
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <p class="lead mt-2">
        Device removal is <strong>irreversible</strong>, so choices must be confirmed before deletion.
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel"><strong>Confirmation</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Removed devices cannot be recovered, are you sure ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="deletePi">Confirm</button>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Card Group -->
<div class="row row-cols-1 row-cols-md-auto g-4 grid-container">
    {% for item in raspi %}
    <div class="col">
        <form action="POST">
            {% csrf_token %}
            <div class="card card-container text-center h-100" style="cursor: pointer;"
                onclick="location.href='javascript:analyzeText(\'{{item.id}}\', \'{{item.name}}\')';">
                <div class="card-img-top">
                    <img src="{% static 'sensor/images/icons/raspberry_logo.svg' %}" class="img-raspberry"
                        loading="lazy" alt="{{item.name}}">
                </div>
                <div class="card-body lead">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text" style="padding-bottom: 20px;">{{item.address}}</p>
                </div>
            </div>
        </form>
    </div>
    {% endfor %}
</div>

{% endblock %}